@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@100&display=swap');

        

:root{
    --cor1:#8F797E;
    --cor2:#FFC2B5;
    --cor3:#FFE3CC;
    --cor4:#646C8F;
    --cor5:#DCC3A1;
}

body{
 background-image: linear-gradient(to left, var(--cor2),var(--cor3));
}

table{
    width: 500px;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: auto;
    

}
h1{
    font-family: 'Ysabeau Infant', sans-serif;
    color:var(--cor1) ;
    padding-bottom: 20px;
    font-size: 4vw;
    text-align: center;
}
caption{
   
    padding: 10px;
    font-weight: bold;
    background-color: var(--cor2);
}
caption > a{
    text-decoration: none;
    color: var(--cor4);
}
a:hover{
    text-decoration: underline;
}
thead{
    background-color: var(--cor2);
    color: var(--cor4);
    
  
}
thead >tr > th{
    position: sticky;
    top: -1px;
    background-color: var(--cor2);
}    

 td , th{
    border: 1px solid var(--cor2);
    padding: 8px;
    color: var(--cor4);
    
}

tbody > tr:nth-child(odd){
    background-color: white;
}

tbody > tr:nth-child(even){
    background-color:var(--cor3);
}
td.pa{
    text-align: right;
}
td > a{
    text-decoration: none;
    color: var(--cor4);
}
p{
    font-family: 'Ysabeau Infant', sans-serif;
    color:var(--cor1);
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    

}
p > a{
    text-decoration: none;
    color:var(--cor1);
}
